<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Load</h4>
        <div class="well">
            <div><span class="text-bold">wg('#id').tabstrip().bind.load([TITLE], (tab, content, element) => {</span></div>
            <div class="indent-tab">
                <div><span class="text-blue">// codes... </span></div>
            </div>
            <div class="text-bold">})</div>
        </div>
    </div>
</div>

