
<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Add</h4>
        <div class="well">
            <div><span class="text-bold">wg('#id').tabstrip().add([TITLE], [URL], [KEY])</span><span class="text-blue">- To generate <span class="text-bold">Key</span> use </span><span class="text-red text-bold">Guid.new()</span></div>
        </div>
    </div>
    <div>
        <h4 class="text-green">Activate</h4>
        <div class="well">
            <div><span class="text-bold">wg('#id').tabstrip().activte([KEY])</span></div>
        </div>
    </div>
    <div>
        <h4 class="text-green">Remove</h4>
        <div class="well">
            <div><span class="text-bold">wg('#id').tabstrip().remove([KEY])</span></div>
        </div>
    </div>
</div>