<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Kendo</h4>
        <div>- Kendo API: <a href="http://docs.telerik.com/kendo-ui/api/javascript/ui/maskedtextbox" target="_blank">MaskedTextBox</a></div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id').maskedtextbox().kendo</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Value</h4>
        <div>- Gets or sets the value</div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id).maskedtextbox().value</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Container</h4>
        <div>- Scope container</div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id).maskedtextbox().container</span></div>
        </div>
    </div>
    <div>
        <h4 class="text-green">Label</h4>
        <div>- Label element of the control</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg('#id).maskedtextbox().label.text</span><span class="text-blue"> - Gets or sets text of the Label</span></div>
            <br />
            <div><span class="text-bold">wg('#id).maskedtextbox().label.show()</span><span class="text-blue"> - Shows the Label</span></div>
            <br />
            <div><span class="text-bold">wg('#id).maskedtextbox().label.hide()</span><span class="text-blue"> - Hides the Label</span></div>
        </div>
    </div>
</div>