<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Refresh</h4>
        <div>- Refresh data</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg('#id').grid().refresh()</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Uncheck Records</h4>
        <div>- Unchecked all records</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg('#id').grid().uncheckRecords()</span></div>
        </div>
    </div>
</div>
