<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Kendo</h4>
        <div>- Kendo API: <a href="http://docs.telerik.com/kendo-ui/api/javascript/ui/grid" target="_blank">Grid</a></div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg('#id').grid().kendo</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Name</h4>
        <div>- Gets the name of the grid</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg('#id').grid().name</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Checked Records</h4>
        <div>- Gets all checked records</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg('#id').grid().checkedRecords</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Data</h4>
        <div>- Gets the data</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg('#id').grid().data</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Table</h4>
        <div>- Grid table</div>
        <br />
        <div class="well">
            <div class="text-bold">wg('#id).grid().table.columns('[COLUMN_NAME]').each((column) => {</div>
            <div class="text-bold indent-tab">if (column.text == 'Inactive') {</div>
            <div class="text-bold indent-tab"><span class="indent-tab">column.row.red()</span></div>
            <div class="text-bold indent-tab">}</div>
            <div class="text-bold">})</div>
        </div>
    </div>
</div>

