<div data-container="grid">
    <div id="RegionGrid" data-grid="RegionGrid" data-wg-ui="kendoGrid" data-init-ui="true" data-url="Region/Data"></div>
    <div data-container="buttons">
        <button class="btn btn-primary" data-action="delete" data-wg-ui="modal" data-url="Grid/Delete">Delete</button>
        <button class="btn btn-primary" data-action="toggle" data-wg-ui="modal" data-url="Grid/Toggle">Toggle</button>
    </div>
</div>