<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Refresh</h4>
        <div>- Triggers when grid refresh</div>
        <br />
        <div class="well">
            <div><span class="text-blue">- For multiple grid names, you may also pass </span><span class="text-red">string separated by comma</span><span class="text-blue"> or </span><span class="text-red">string Array</span></div>
            <div><span class="text-bold">wg.bind.grid([NAME]).refresh((grid) => { </span></div>
            <div class="indent-tab"><span class="text-blue">// codes... </span></div>
            <div><span class="text-bold">})</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Data Bound</h4>
        <div>- Triggers when data bounded on the grid</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg.bind.grid([NAME]).databound((grid) => { </span></div>
            <div class="indent-tab"><span class="text-blue">// codes... </span></div>
            <div><span class="text-bold">})</span></div>
        </div>
    </div>
</div>
