<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Kendo</h4>
        <div>- Kendo API: <a href="http://docs.telerik.com/kendo-ui/api/javascript/ui/combobox" target="_blank">ComboBox</a></div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id').combobox().kendo</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Data</h4>
        <div>- Gets or sets the data</div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id).combobox().data</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Value</h4>
        <div>- Gets or sets the value</div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id).combobox().value</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Text</h4>
        <div>- Gets or sets the text</div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id).combobox().text</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Cascade From</h4>
        <div class="well">
            <div class="text-bold"><span>wg('#id).combobox().cascadefrom</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Container</h4>
        <div>- Scope container</div>
        <div class="well">
            <div class="text-bold"><span>wg('#id).combobox().container</span></div>
        </div>
    </div>
    <div>
        <h4 class="text-green">Label</h4>
        <div>- Label element of the control</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg('#id).combobox().label.text</span><span class="text-blue"> - Gets or sets text of the Label</span></div>
            <br />
            <div><span class="text-bold">wg('#id).combobox().label.show()</span><span class="text-blue"> - Shows the Label</span></div>
            <br />
            <div><span class="text-bold">wg('#id).combobox().label.hide()</span><span class="text-blue"> - Hides the Label</span></div>
        </div>
    </div>
</div>