<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Error</h4>
        <div>- Highlight the control with red border</div>
        <br />
        <div>
            <input type="text" id="FirstName" name="FirstName" data-wg-ui="kendoAutoComplete" data-init-ui="true" placeholder="First Name" maxlength="50" />
        </div>
        <br />
        <div class="well">
            <div class="text-bold">&lt;input type="text" id="FirstName" name="FirstName"</div>
            <div class="indent-tab"><span class="text-bold">data-wg-ui="kendoAutoComplete"</span></div>
            <div class="indent-tab"><span class="text-bold">data-init-ui="true"</span></div>
            <div class="indent-tab text-bold">placeholder="First Name"</div>
            <div class="indent-tab text-bold">maxlength="50"/&gt;</div>
        </div>
        <div class="well">
            <div class="text-bold"><span>wg('#FirstName').textbox().error()</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Readonly / Disable</h4>
        <div>- Disabled the control</div>
        <br />
        <div>
            <input type="text" id="LastName" name="LastName" data-wg-ui="kendoAutoComplete" data-init-ui="true" placeholder="Last Name" maxlength="50" />
        </div>
        <br />
        <div class="well">
            <div class="text-bold">&lt;input type="text" id="LastName" name="LastName"</div>
            <div class="indent-tab"><span class="text-bold">data-wg-ui="kendoAutoComplete"</span></div>
            <div class="indent-tab"><span class="text-bold">data-init-ui="true"</span></div>
            <div class="indent-tab text-bold">placeholder="Last Name"</div>
            <div class="indent-tab text-bold">maxlength="50"/&gt;</div>
        </div>
        <div class="well">
            <div class="text-bold"><span>wg('#LastName').textbox().readonly()</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Hide</h4>
        <div>- Hides the control</div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id').textbox().hide()</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Show</h4>
        <div>- Shows the control</div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id').textbox().show()</span></div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Read</h4>
        <div>- Gets the data from server</div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id').textbox().read()</span></div>
        </div>
    </div>
</div>