@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wgNotification" style="display: none">&nbsp;</div>
<div id="wgMenu">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="#" data-title="Home" data-view="Home">Home</a></li>
                <li><a href="#" data-title="Modal" data-view="Modal">Modal</a></li>
                <li><a href="#" data-title="Grid" data-view="Grid">Grid</a></li>
                <li><a href="#" data-title="AutoComplete" data-view="AutoComplete">AutoComplete</a></li>
                <li><a href="#" data-title="ComboBox" data-view="ComboBox">ComboBox</a></li>
                <li><a href="#" data-title="MultiSelect" data-view="MultiSelect">MultiSelect</a></li>
                <li><a href="#" data-title="DatePicker" data-view="DatePicker">DatePicker</a></li>
                <li><a href="#" data-title="NumericTextBox" data-view="NumericTextBox">NumericTextBox</a></li>
                <li><a href="#" data-title="MaskedTextBox" data-view="MaskedTextBox">MaskedTextBox</a></li>
                <li><a href="#" data-title="FileUpload" data-view="FileUpload">FileUpload</a></li>
                <li><a href="#" data-title="DualListBox" data-view="DualListBox">DualListBox</a></li>
                <li><a href="#" data-title="Accordion" data-view="Accordion">Accordion</a></li>
                <li><a href="#" data-title="TabStrip" data-view="TabStrip">TabStrip</a></li>
                <li><a href="#" data-title="Form" data-view="Form">Form</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix">&nbsp;</div>
<div id="wgNotification"></div>
<div id="wgTab"></div>