

<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">On Submit</h4>
        <div>- Triggers before to submit form</div>
        <br />
        <div class="well">
            <div class="text-bold">wg('#id').form().bind.onsubmit((form) => {</div>
            <div class="indent-tab">
                <div><span class="text-bold">return false;</span><span class="text-blue"> - return </span><span class="text-red text-bold">false</span><span class="text-blue"> to prevent </span><span class="text-bold text-blue">Form</span><span class="text-blue"> from submitting</span></div>
            </div>
            <div class="text-bold">})</div>
        </div>
    </div>
</div>