<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Submit</h4>
        <div class="well">
            <div><span class="text-bold">wg('#id').form().submit().then((result) => {</span></div>
            <div class="indent-tab">
                <div class="text-blue">// codes... </div>
            </div>
            <div><span class="text-bold">})</span></div>
        </div>
        <div class="well">
            <div><span class="text-bold">wg('#id').form().submit().success((result) => {</span></div>
            <div class="indent-tab">
                <div class="text-blue">// when result has <span class="text-red">Success</span> status</div>
            </div>
            <div><span class="text-bold">}).failed((result) => {</span></div>
            <div class="indent-tab">
                <div class="text-blue">// when result has <span class="text-red">Failed</span> or <span class="text-red">Warning</span> status</div>
            </div>
            <div><span class="text-bold">})</span></div>
        </div>
    </div>
</div>

