<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Submit</h4>
        <div class="well">
            <div><span class="text-bold">wg.bind.form([NAME]).submit((result) => { </span></div>
            <div class="indent-tab"><span class="text-blue">// codes... </span></div>
            <div><span class="text-bold">})</span></div>
        </div>
        <div class="well">
            <div><span class="text-bold">wg.bind.form([NAME]).submit({ </span></div>
            <div class="indent-tab">
                <div class="text-bold">success: function(result) {</div>
                <div><span class="text-blue indent-tab">// codes... </span></div>
                <div class="text-bold">}</div>
                <div class="text-bold">failed: function(result) {</div>
                <div><span class="text-blue indent-tab">// codes... </span></div>
                <div class="text-bold">}</div>
            </div>
            <div><span class="text-bold">})</span></div>
        </div>
    </div>
</div>