<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Open</h4>
        <div>- Open a modal</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg.modal.open()</span></div>
            <br />
            <div><span class="text-bold">wg.modal.open((modal) => { </span><span class="text-blue"> - open a modal with parameter callback function</span></div>
            <div class="indent-tab text-blue">// codes... </div>
            <div class="text-bold">})</div>
        </div>
    </div>
    <div>
        <h4 class="text-green">Close</h4>
        <div>- Close a modal</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg.modal.close()</span></div>
            <br />
            <div><span class="text-bold">wg.modal.close((modal) => { </span><span class="text-blue"> - close a modal with parameter callback function</span></div>
            <div class="indent-tab text-blue">// codes... </div>
            <div class="text-bold">})</div>
        </div>
    </div>
    <div>
        <h4 class="text-green">Html</h4>
        <div>- Insert content to a modal</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg.modal.html('[HTML]')</span></div>
            <br />
            <div><span class="text-bold">wg.modal.html('[HTML]', (modal) => { </span><span class="text-blue"> - call <span class="text-bold">html</span> method with parameter callback function</span></div>
            <div class="indent-tab text-blue">// codes... </div>
            <div class="text-bold">})</div>
        </div>
    </div>
    <div>
        <h4 class="text-green">Form</h4>
        <div>- returns <a href="#" data-wg-ui="kendoTabStrip" data-title="Form" data-view="/Form">Form API</a></div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg.modal.form()</span></div>
            <br />
            <div><span class="text-bold">wg.modal.form('[NAME]')</span><span class="text-blue"> - supply form name if you have multiple forms inside the modal</span></div>
        </div>
    </div>
    <div>
        <h4 class="text-green">Block</h4>
        <div>- Blocked a modal</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg.modal.block()</span></div>
            <br />
            <div><span class="text-bold">wg.modal.block((modal) => { </span><span class="text-blue"> - block a modal with parameter callback function</span></div>
            <div class="indent-tab text-blue">// codes... </div>
            <div class="text-bold">})</div>
        </div>
    </div>
    <div>
        <h4 class="text-green">Unblock</h4>
        <div>- Unblocked a modal</div>
        <br />
        <div class="well">
            <div><span class="text-bold">wg.modal.unblock()</span></div>
            <br />
            <div><span class="text-bold">wg.modal.unblock((modal) => { </span><span class="text-blue"> - unblock a modal with parameter callback function</span></div>
            <div class="indent-tab text-blue">// codes... </div>
            <div class="text-bold">})</div>
        </div>
    </div>
</div>