
<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Select</h4>
        <div class="text-bold well">
            <div>wg('#id').fileupload().bind.select((fileupload, file) => {</div>
            <div class="indent-tab"><span class="text-bold">file.size;</span></div>
            <div>});</div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Success</h4>
        <div class="text-bold well">
            <div>wg('#id').fileupload().bind.success((fileupload, file) => {</div>
            <div class="indent-tab"><span class="text-bold">file.size;</span></div>
            <div>});</div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Error</h4>
        <div class="text-bold well">
            <div>wg('#id').fileupload().bind.error((fileupload, file) => {</div>
            <div class="indent-tab"><span class="text-bold">file.size;</span></div>
            <div>});</div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Remove</h4>
        <div class="text-bold well">
            <div>wg('#id').fileupload().bind.remove((fileupload, file) => {</div>
            <div class="indent-tab"><span class="text-bold">file.size;</span></div>
            <div>});</div>
        </div>
    </div>
    <hr />
    <div>
        <h4 class="text-green">Upload</h4>
        <div class="text-bold well">
            <div>wg('#id').fileupload().bind.upload((fileupload, file) => {</div>
            <div class="indent-tab"><span class="text-bold">file.size;</span></div>
            <div>});</div>
        </div>
    </div>
</div>