<div class="col-md-10 col-md-offset-1">
    <div>
        <h4 class="text-green">Error</h4>
        <div>- Highlight the control with red border</div>
        <br />
        <div class="well">
            <div class="text-bold"><span>wg('#id').fileupload().error()</span></div>
        </div>
    </div>
</div>